/* 

-------------------------------------------------------------

ABOUT

*/

.about {
	padding: 8em 0;

	.container { justify-content: center; }

	.content {
		width: 60%;
		text-align: center;
	}
}