/* 

-------------------------------------------------------------

HOME PAGE STYLES

*/

.hero {
	background-color: $blue;
	color: white;
	height: 600px;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align:center;

	.content {
		transform: scale(0.6);
		// transform: translateY(-50px);
		opacity: 0;
		transition: transform 1s $easeOutQuint, opacity 1s $easeOutQuint;
		max-width: 90%;
		position: relative;

		p {
			margin: 0.4em;
		}
	}

	.buttons {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		margin: 2.2em 2em 0 2em;

		@include breakpoint(small) {
			flex-flow: column;
			margin: 3em 0 0 0;
		}

		a {
			width: 35%;

			@include breakpoint(small) {
				width: 50%;
				margin: 1.4em auto 0 auto;
			}
		}
	}
}

.animate-in .hero {
	.content {
		transform: scale(1);
		// transform: translateY(0);
		opacity: 1;
	}
}