a.btn {
	display: inline-block;
	line-height: 40px;
	background-color: $red;
	color: white;
	text-decoration: none;
	padding: 0 20px;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	transition: background-color 0.35s $easeInOutCubic;

	&:hover {
		background-color: darken($red, 5%);
	}
}